
@media (prefers-color-scheme: light) {
    /* CSS here */
    @import "style-light"

    .beer-chart{
      filter: invert(100%);
    }

}

@media (prefers-color-scheme: dark) {
    /* CSS here */
    @import "style-dark"
}
